extends layouts/main.pug

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
					
		// Clients
		.slider
			.container
				.row.justify-content-center
					.col-xl-3
						.block Clients
				.row
					.col
						.block Слайдер
				.row.justify-content-center
					.col-xl-3
						.block button
		// How to find us
		.container
			.row.justify-content-center
				.col-xl-6
					.block How to find us
		.block Карта
		.container
			.row.justify-content-center
				.col-xl-3
					.block button
		// Contacts
		.Contacts
			.container
				.row.justify-content-center
					.col-xl-4
						.block Contacts
				.row.justify-content-center
					.col-xl-4
						.block contact-form
				.row.justify-content-center
					.col-xl-4
						.block button
				.row.justify-content-center
					.col-xl-3
						.block copyraight




