
@import "../base/_variables.less";


.card {
	background-color: @grey-card;
	padding-top: 424px;	
	padding-bottom: 76px;
	@media (min-width: 768px){ padding-top: 605px;	padding-bottom: 130px; }
	@media (min-width: 1200px) {padding-top: 219px;	padding-bottom: 75px;} }  

.card__img { 
	display: flex; justify-content: center;
	img { width:100%; max-width:500px;
		 height: 100%; max-height: 350px;}
		@media (min-width: 768px){
				&--mockups, &--solution {	
					img { max-width:768px; max-height: 650px;} }  
				&--build{ 
					img { max-width:737px; max-height: 640px;} } } 
				
		@media (min-width: 1200px) {  
			&--mockups, &--build, &--solution { img { max-height: 700px;  }	} 
				&--mockups{ 
					img { max-width:897px;  } }  
				&--build{ img { max-width:936px; margin-top: 13px;
							 margin-bottom: 8px; margin-right: 41px;  } } 
				&--solution { 
					img { max-width:977px;  margin-left: 23px; } } } } 
	
p.card__text {
	display: block;
	margin: 0px auto;
	text-align: center;
	font-family: 'Museo Sans Cyrl 300';	
	font-size: 56px;
	font-weight: normal;
	font-style: normal;
	padding: 0;
	margin: 0;
		span { color: @red-card; }
			&--mockups { margin-top: 120px; margin-bottom: 75px; }
			&--build { margin-top: 186px; margin-bottom: 76px; }
			&--solution { margin-top: 273px; margin-bottom: 142px; }
		@media (min-width: 768px){
				&--mockups, &--build
				 {	margin-top: 204px; 	margin-bottom: 380px;}
				&--solution { margin-top: 266px; margin-bottom: 427px; } }
		@media (min-width: 1200px) { 
				&--mockups{margin-top: 200px; }
				&--build{ margin-top: 150px; }
				&--solution {margin-top: 207px; }
				&--mockups, &--build, &--solution  { margin-bottom: 70px;}  } }