
@import "../base/_variables.less";

@import "../sections/_slider-clients.less";

.clients {
		background-color: @bluebutton;
		padding-top: 107px;
		padding-bottom: 171px;
	@media (min-width: 768px){
	    padding-bottom: 437px;} 
	}