
@import "../base/_variables.less";

@import "../sections/_slider-clients.less";

.clients {background-color: @grey-card;
		padding-top: 107px;
		padding-bottom: 171px;
	@media (min-width: 768px){
		padding-top: 104px;
	    } 
	@media (min-width: 1200px){
		padding-top: 98px;
	    padding-bottom: 181px;}
	}
.flex-grow-0{
	flex-grow: 0 !important;
}	
.owl-carousel .owl-item img {
    height:auto;
    width:100% !important;
    display: block;
}

