
@import "../base/_variables.less";

.slider__img {
		display: table;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		a { 
			display: table-cell;
			vertical-align: middle;
			text-align: center;
	 	    background-image: url("../img/bg/vegan_svg.png");
    		background-repeat: no-repeat;
    		width: 112px;
    		height: 112px; }	 
	
  		a.slider__img--tvs {
			background-position: 55.138% 44.505%;
			width: 284px;
			height: 284px;
				}	
  			a.slider__img--tpg {
			background-position: -0.154% 45.132%;
			width: 284px;
			height: 284px;
				}
			a.slider__img--pshe {
			background-position: 107.96% 44.904%;
			width: 284px;
			height: 284px;
				} 
		@media (min-width: 768px){
		height: 135px;
		width: 575px;
		display: table;
		margin-left: 100px;
		a.slider__img--tpg {
	 	    background-image: url("../img/bg/logo-tpg.png");
			background-position: 99.538% 34.505%; }
		a.slider__img--tvs {
			background-image: url("../img/bg/logo-tvs.png");
			background-position: 98.938% 31.505%;
			width: 384px; }
		
	 	a.slider__img--pshe {
	  	    background-image: url("../img/bg/logo-pshe.png");
			background-position: 75.94% 27.953%;
			width: 250px;}
		&--margin-top {
			margin-top: 112px;
			}  }
	@media (min-width: 1200px){
			a.slider__img--pshe, a.slider__img--tvs, a.slider__img--tpg {
			// background-image: url("../img/bg/vegan_svg.png");
				} }		 
	@media (min-width: 1200px){

		a.slider__img--tvs {
					background-position: 18.138% 18.505%;
					}	
		a.slider__img--tpg {
					background-position: 2.138% 91.505%;   }

		a.slider__img--pshe {
					background-position: 18.196% 17.904%;	} } }