
@import "../base/_variables.less";

.button {
	display: flex;
    justify-content: center;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	transition: all 0.3s ease-in;
	a {  }
	&:hover, &:focus {color: #FFF;
		background-color: transparent; text-decoration: none;}
		&:active {color: transparent;outline: none;
  			box-shadow: 0px 0px 40px rgba(72, 119, 159, 1);	} }
.button-down {
		  &--mockups { margin-bottom: 702px; } 
		   &--build { margin-bottom: 726px; }  } 		
.button__benefit{
		letter-spacing: 0px;
		padding: 12px 48px 10px;
		&--meetup {
		padding: 13px 48px 10px;
		}
		&--slack {
		padding: 13px 54px 10px;
		margin-right: 4px;
		}
		&--wiki {
			padding: 13px 60px 10px;
			margin-right: 3px;
		}
	}

