.card
	.conteiner
		.row.justify-content-center
			.col-md-11.col-xl-12
				.card__img.card__img--mockups
					img(src='img/bg/mockups.png' alt="mockups")
		.row.justify-content-center
			.col-12.col-md-8.col-xl-12
				p.card__text.card__text--mockups Some agencies love
						span &nbspdesign
						| , but don’t know how to build
		.row.justify-content-center
			.col-xl-3
				a.button.button-down--mockups
					img(src='img/bg/btn-red.png' alt='button-red')
		.row.justify-content-center
			.col-md-11.col-xl-12
				.card__img.card__img--build
					img(src='img/bg/build.png' alt="build")
		.row.justify-content-center
			.col-12.col-md-8.col-xl-12
				p.card__text.card__text--build Some agencies know how to!{" "}
					span build
					|  but can’t do design
		.row.justify-content-center
			.col-xl-3
				a.button.button-down--build
					img(src='img/bg/btn-red.png' alt='button-red')
		.row.justify-content-center
			.col-md-11.col-xl-12
				.card__img.card__img--solution
					img(src='img/bg/solution.png' alt="solution")
		.row.justify-content-center
			.col-md-8.col-xl-12
				p.card__text.card__text--solution We love
					span &nbspboth
		.row.justify-content-center
			.col-xl-3
				a.button.button-down
					img(src='img/bg/btn-red.png' alt='button-red')