.card
	.block Картинка
		.conteiner
			.row.justify-content-xl-center
				.col-xl-6
					.block Текст
			.row.justify-content-center
				.col-xl-3
					.block button
	.block Картинка
		.conteiner
			.row.justify-content-xl-center
				.col-xl-6
					.block Текст
			.row.justify-content-center
				.col-xl-3
					.block button
	.block Картинка
		.conteiner
			.row.justify-content-xl-center
				.col-xl-6
					.block Текст
			.row.justify-content-center
				.col-xl-3
					.block button