.clients
	h2.heading Clients
	.container
		.row
			.col
				.owl-carousel.owl-one#owl-one 
					.div
						.slider__img
							a.slider__img--tvs
					.div
						.slider__img
							a.slider__img--tpg
					.div
						.slider__img
							a.slider__img--pshe
				#owl-prev
					a.owl-dot--new
						span
	.row.justify-content-center
		.col-xl-3
			a.button.button-down--clients
				img(src='img/icons/ghost-btn-black.png' alt='button-black.png')