.header
	.header__inner
		.row.justify-content-center
			.col-xl-9
				.header__wrapper
					.row
						.col-md-12
							a.header__inner-logo
								img(src='img/icons/gl-logo.png' alt="logo")
					.row
						.col-md-8.col-xl-12
							p.header-inner__title A team of self confessed geeks who are all about great digital design
		.row.justify-content-center
			.col-xl-3
				a.button.button-down--location
					img(src='img/icons/ghost-btn.png' class="button" alt='button')