.location
	.heading.heading--location Find us
	.map-wrapper
		#map.map
		.contacts-block 
			.row
				.text-wrapper
					p.contacts-block__title Geek Label 
					p.contacts-block__address.contacts-block__address--l-s 4th Floor, 27 - 33 Bethnal Green Road
					p.contacts-block__address Shoreditch, London, E1 6LA
	.row.justify-content-center
			.col-xl-3
				a.button.button-down--location
					img(src='img/bg/btn-red.png' alt='button-red.png')
			



